@font-face {
	font-family: pixelFontBold;
	src: url("fonts/slkscrb.ttf");
}

@font-face {
	font-family: pixelFontReg;
	src: url("fonts/slkscr.ttf");
}

body{
	background-image: url("images/cave-wallpaper-3.jpg");
}

h1 {
	font-family: pixelFontBold;
	text-align: center;
	color: white;
	font-size: 60px;
}

#start-cue {
	font-size: 30px;
}

h2, h3 {
	font-family: pixelFontReg;
	text-align: center;
	color: white;
}

button{
	font-family: pixelFontReg;
}

.game-controls{
	margin: 0 auto;
	padding: 0;
	display: none;
}

.game-controls h3 {
	font-size: 20px;
}


.game-controls img {
	position: relative;
	top: 10px;
	width: 40px;
	height: 40px;
	border-radius: 5%;
}

.monster-image img {
	width: 150px;
	height: 150px;
	display: none;
}

#gameOverHeader {
	font-family: pixelFontReg;
	color: black;
	font-size: 40px;
}

#gameOver-txt {
	font-family: pixelFontReg;
	font-size: 25px;
}

.start-button {
	text-align: center;
}

.popup .overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1;
	display: none;
}

.popup .content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	background: #fff;
	width: 500px;
	height: 280px;
	z-index: 2;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
}

.popup .close-btn{
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 20px;
	width:30px;
	height: 30px;
	background: #222;
	color: #fff;
	font-size: 25px;
	font-weight: 600;
	line-height: 30px;
	text-align: center;
	border-radius:50%;
}

.popup.active .overlay {
	display: block;
}

.popup.active .content{
	transition: all 300ms ease-in-out;
	transform: translate(-50%, -50%) scale(1);
}