@font-face {
	font-family: pixelFontBold;
	src: url("fonts/slkscrb.ttf");
}

@font-face {
	font-family: pixelFontReg;
	src: url("fonts/slkscr.ttf");
}

body {
	background-image: url("images/cave-wallpaper-3.jpg");
	background-size: cover;
	position: relative;
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.game-instructions > *{
	font-family: pixelFontReg;
	text-align: center;
	color: white;
}

.game-instructions {
	position: relative;
	top: 40%;
}

ul {
	list-style-position: inside;
}

h1 {
	font-family: pixelFontBold;
	text-align: center;
	color: white;
	font-size: 60px;
}

#name {
	position: relative;
	top: 20%;
}

h2, h3 {
	font-family: pixelFontReg;
	text-align: center;
	color: white;
}

button{
	font-family: pixelFontReg;
}

.game-controls{
	margin: 0 auto;
	padding: 0;
	display: none;
}

.game-controls h3 {
	font-size: 20px;
}


.game-controls img {
	position: relative;
	top: 10px;
	width: 40px;
	height: 40px;
	border-radius: 5%;
}

/* Start of character*/

.arena {
	position: relative;
	bottom: 50px;
	width: 100%;
	justify-content: space-between;
	display: none;
}

.arena img{
	height: 250px;

}

#hero{
	transform: scaleX(-1);
	padding-right: 80px;
}

#monster {
	padding-right: 80px;
}
/* end of character*/

#gameOverHeader {
	font-family: pixelFontReg;
	color: black;
	font-size: 40px;
}

#gameOver-txt {
	font-family: pixelFontReg;
	font-size: 25px;
}

.results {
	position: relative;
	width: 60%;
	left: 50%;
	top: 15%;
	margin-left: -30%;
}

.popup .overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1;
	display: none;
}

.popup .content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	background: #fff;
	width: 500px;
	height: 280px;
	z-index: 2;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
}

.popup .close-btn{
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 20px;
	width:30px;
	height: 30px;
	background: #222;
	color: #fff;
	font-size: 25px;
	font-weight: 600;
	line-height: 30px;
	text-align: center;
	border-radius:50%;
}

.popup.active .overlay {
	display: block;
}

.popup.active .content{
	transition: all 300ms ease-in-out;
	transform: translate(-50%, -50%) scale(1);
}


.start-container {
	position: relative;
	top: 30%;
}

#start-cue {
	font-size: 35px;
}

.start-button {
	text-align: center;
}

.blinking{
    animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText{
    0%{     color: #FFFFFF;    }
    49%{    color: #FFFFFF; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #FFFFFF;    }
}